In [5]:
import pandas as pd
import numpy as np

In [6]:
## We can import excel files in pandas librar and work with them.
## Therefor excel file should be same clasor in pandas.

In [9]:
example = pd.read_excel("ExamplePandasInput.xlsx")
example

  Names Gender  Salary  Experience
0     a      m    1000           5
1     b      w    1500          10
2     c      w    2000          15
3     d      m    2500          20
4     e      m    3000          25

In [14]:
## We can make something with the datas.

example["Years"] = example["Experience"] + 25
example

  Names Gender  Salary  Experience  Years
0     a      m    1000           5     30
1     b      w    1500          10     35
2     c      w    2000          15     40
3     d      m    2500          20     45
4     e      m    3000          25     50

In [ ]:
## We can give output as excel file.

example.to_excel()